
/////STATUS


.btn-voltar {
    color: white !important;
    display: block;
    border-radius: 25px;
    width: 35vw;
    font-weight: 600;
    font-size: 1rem;
    background: #03568A;
}

.btn-filtrar {
    color: white !important;
    display: block;
    border-radius: 25px;
    width: 35vw;
    font-weight: 600;
    font-size: 1rem;
    background: #36A6D4;
}
.status{
    align-items: center;
    justify-content: space-around;
}

.item {
    a {
        color: #03568A;
        font-weight: bold;
        align-self: flex-end;
    }
}

.botao{
    display: block;
    width: 40vw;
    
}
.btn-status1 {
    background: #03568A;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;

}
.btn-status0 {
    background: #0472B7;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;

}
.btn-status2 {
    background: #35A40E;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;

}

////ENCOMENDAS

.inicio{
    justify-content: space-around;
    align-items: center;
    span{
        color: #03568A;
        font-size: 1.2rem;
    }
}
.detail{
    color: #03568A;
    font-size: 1.1rem;
    font-weight: bold;
}
.itens{
    justify-content: space-around;
    color: #03568A;
}