
/////PAGINA STATUS

//BOTÕES PRINCIPAIS
.btn-voltar {
    color: white !important;
    display: block;
    border-radius: 25px;
    width: 35vw;
    font-weight: 600;
    font-size: 1rem;
    background: #03568a;
}

.btn-filtrar {
    color: white !important;
    display: block;
    border-radius: 25px;
    width: 35vw;
    font-weight: 600;
    font-size: 1rem;
    background: #36a6d4;
}
//CAMPOS INFORMATIVOS E OS STATUS DE ENTREGAS
.status{
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.status-in {
    padding: 20px 0;
    p {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    button {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.item {
    p {
        color: #03568a;
        font-weight: bold;
        align-self: flex-end;
        text-align: center;
    }
}

.botao {
    display: block;
    width: 40vw;
    border: none;
}

.btn-status1 {
    background: #03568a;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
}
.btn-status0 {
    background: #0472b7;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
}
.btn-status2 {
    background: #35a40e;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
}

//// PAGINA ENCOMENDAS

.inicio {
    justify-content: space-around;
    align-items: center;
    span {
        color: #03568a;
        font-size: 1.2rem;
    }
}
//TABELAS
.detail{
    color: #03568A;
    font-size: 1.1rem;
    font-weight: bold;
}
.itens {
    justify-content: space-around;
    align-items: center;
    color: #03568A;
}
//CAIXA AZUL 
.square{
    background-color: #0075AD;
    width: 100%;
    height: 180px;
    span{
        color: white;
    }
//BOTOES DE STATUS DE ENTREGA    
    .botao-trans{
        background-color: #040824;
        color: white;
        border-radius: 18.3333px;
    }
    .botao-prep{
        background-color:#F201A0 ;
        color: white;
        border-radius: 18.3333px;
    }
    .botao-entr{
        background-color:#35A40E ;
        color: white;
        border-radius: 18.3333px;
    }
    .avaliar{
        justify-content: space-around;
        button{
            width: 35vw;
            display: block;
            border-radius: 18.3333px;
        }
    }
    #linha-horizontal {
        width: 100%;
        border: 1px solid gray;
    }
}
