.nav-tabs .nav-link {
      color: white !important;
      font-weight: 600;
      font-size: 18px;
}
.nav-link.active {
      color: black !important;
}

.ativos {
      background-color: white;
      height: 177px;

      a {
            color: #03568a;
            font-weight: 800;
            font-size: 20px;
            line-height: 19px;
            text-align: center;
      }
      span{
            background-color: #35A40E;
            padding: 10px;
            border-radius: 18px;
      }
}
