$color1: #f4f4f4;
$color2: #3197EE;
$primary-color: rgb(12,112,180);
$secondary-color: rgb(240,139,59);
$medium-color: rgb(84,103,117);
$standard-font: normal 400 18px 'PT Sans', sans-serif;

main {
      background-color: #03568a;
      // height: 100vh;
      font-family: "Poppins", sans-serif;
      a{
            text-decoration: none !important;
      }
}

.header {
      background: #36a6d4;
}

.title {
      h4 {
            color: white;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 1.5em;
      }
}
.wallet {
      background: #36a6d4 !important;
      border-radius: 15px;
      height: 136px;
      a {
            color: white;
            font-size: 21.3333px;
            font-weight: 800;
            text-transform: uppercase;
      }
      h3 {
            color: white;
            font-size: 41.8667px;
            font-weight: 800;
            text-transform: uppercase;
      }
}
.ativos {
      background: #0472b7;
      border-radius: 15px;
      height: 136px;
      a {
            font-weight: 800;
            font-size: 21.3333px;
            color: white;
            text-transform: uppercase;
      }
      h3 {
            color: white;
            font-size: 41.8667px;
            font-weight: 800;
            text-transform: uppercase;
      }
}
.menu {
      .pl {
            background: #ffffff;
            border-radius: 15.8571px;
      }
      a {
            color: #03568a;
            font-weight: 800;
            font-size: 17.5855px;
            line-height: 15px;
      }
}
.voltar {
      background: #0472b7;
      a {
            font-weight: 800;
            font-size: 18px;
            line-height: 32px;
            color: white;
      }
      font-weight: 800;
      font-size: 18px;
      line-height: 32px;
      color: white;
}
.cadastro{
      height: 100%;
}
.cad {
      background: #ffffff;
      border-radius: 15.8571px;
      height: 148px;
      padding: 35px 0;
      margin: 50px 0;
      p {
            font-weight: 800;
            font-size: 17.5855px;
            line-height: 15px;
            text-align: center;

            color: #03568a;
      }
}


// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: $bg-color;
}

// FORM // ============================== //
form {
  width: $width;
  margin: 45px auto;
  
  h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: $hl-color;
  }
  h5 {
    text-align: center;
    text-transform: uppercase;
    color: $muted-color;
  }
  hr.sep {
    background: $hl-color;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }
}

.group {
  position: relative;
  margin: 45px 0;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}


// BUTTONS // ============================== //
.btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  &.btn-link {
    background: $hl-color;
    color: mix(white, $hl-color, 80%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-submit {
    background: $hl-color;
    color: mix(white, $hl-color, 70%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-cancel {
    background: #eee;
    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}



// radio 
.mdc-form-field{
      label{
            position: relative;
            top: 6px;
      }
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}